@use "responsive" as *;

.header {
  width: 100%;
  z-index: 50;
  background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 60px;
}

.headerLogo {
  width: 145px;
  text-decoration: none;
}
.headerSpacer {
  width: 145px;
}
/* Десктопная навигация */
.navDesktop {
  max-width: 544px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--cl-secondary-light);
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 18px;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }

  &.active {
    font-weight: 600;
  }
}

/* Бургер-кнопка (скрыта на десктопе) */
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 60;

  span {
    width: 100%;
    height: 3px;
    background-color: var(--cl-text);
    border-radius: 3px;
    transition: all 0.3s ease;
  }

  &.burgerOpen {
    span:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}

/* Мобильная навигация */
.navMobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--cl-black);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navMobileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mobileLink {
  color: var(--cl-text);
  text-decoration: none;
  font-family: Montserrat;
  font-size: 24px;
  text-transform: uppercase;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }

  &.active {
    font-weight: 600;
  }
}

.mobileStar {
  width: 19px;
  height: 18.5px;
  display: block;
}

.mobileLogo {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Antic Didone", serif;
  font-size: 48px;
  font-weight: 400;
  color: var(--cl-text);
  text-transform: uppercase;
  z-index: 1;
  white-space: nowrap;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

/* ========== АДАПТИВ ========== */

@include responsive(screen) {
  .navDesktop {
    max-width: none;
    gap: 50px;
    justify-content: center;
  }
}

@include responsive(tablet) {
  .headerSpacer {
    display: none;
  }
  .header {
    padding: 20px;
  }

  .navDesktop {
    display: none;
  }

  .burger {
    display: flex;
  }

  .mobileLogo {
    display: block;
  }

  .content {
    z-index: 1;
  }

  .mobileStar {
    width: 14px;
    height: 13.5px;
  }
}
